<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.reset.title}">Réinitialisation du mot de passe LocalExternCRM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Cher
        </p>
        <p th:text="#{email.reset.text1}">
            Pour votre compte LocalExternCRM, une réinitialisation du mot de passe a été demandée, veuillez cliquer sur l'URL ci-dessous pour la réinitialiser:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Lien de connexion</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Cordialement, </span>
            <br/>
            <em th:text="#{email.signature}">LocalExternCRM.</em>
        </p>
    </body>
</html>
